<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaSd8HLIGn171bjP_jMnkW7lEw3lJ-o94</string>
	<key>GCM_SENDER_ID</key>
	<string>898370900411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sockeywayWeb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sockeyway</string>
	<key>STORAGE_BUCKET</key>
	<string>sockeyway.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898370900411:ios:7250385100a4649186349e</string>
</dict>
</plist>